.ask-container {
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ask {
  display: flex;
}
.askp {
  font-size: 21px;
  padding: 11px 0 11px 0px;
}
.ask > form {
  width: 90%;
  padding: 30px 100px 30px 30px;
  border-right: 2px solid rgb(228, 228, 228);
}

.ask > form > input {
  padding: 7px;
  width: 100%;
  border-width: 1px;
}
.ask > form > textarea {
  width: 100%;
  padding: 7px;
}
.ask > form > button {
  width: 50%;
  padding: 7px;
  border-width: 1px;
}
#selecttype {
  padding: 6px;
  width: 50%;
}
.ask > form > textarea,
.ask > form > button,
.ask > form > input,
#selecttype {
  background-color: #eee;
  border-color: silver;
}
.register {
  display: flex;
  justify-content: center;
  padding: 30px;
  text-align: center;
}
.regbutton {
  /* padding: 11% 45% 11% 45%; */
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #58b16d;
  border: 1px solid transparent;
  padding: 0.41rem 3rem;
  font-size: 1.1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
  .ask-container {
    display: flex;
    flex-direction: column;
  }
  .ask > form {
    width: 100%;
    border-style: none;
  }
  .register {
    margin-top: 0px;
  }
}
